<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <h1>Grammar Checking Made By <a href="http://github.com/ducchinhpro123/">ducchinhpro123</a></h1>

    <div style="display: flex; gap: 20px;">
        <form id="form">
            <textarea id="prompt" name="prompt"></textarea>
            <button id="submit-btn" type="submit">Check grammar</button>
        </form>

        <div id="preview" style="border: 1px solid #ccc; padding: 10px;">
            <% if (typeof(response) !== 'undefined') { %>
                <%= response %>
            <% } %>
        </div>

    </div>
    <script src="/js/script.js"></script>
</body>
</html>
